
* {
box-sizing: border-box;
font-family: Arial, Helvetica, sans-serif;
}

body {
margin: 5px;
font-family: Arial, Helvetica, sans-serif;
background-color: black;
}

/* Style the top navigation bar */
.topnav {
overflow: hidden;
background-color: grey;
}

/* Style the topnav links 
.topnav a {
float: left;
display: block;
color: #f2f2f2;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}
*/
.center{
    text-align: center;
    color: white;
    table-layout: auto;
}

/* Change color on hover */
.topnav a:hover {
background-color: #ddd;
color: black;
height: VH;
}

/* Style the content */
.content {
background-color: #ddd;
padding: 20px;
border-color: black;
height: VH;
}

.timetable{
    border-color: black;
    border-collapse: collapse;
    border: 3px solid black;
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
    margin-left: auto;
    margin-right: auto;
    width: VW;
    height: VH;
}

/* Style the footer */
.footer {
background-color: #f1f1f1;
padding: 10px;
height: VH;
}

.khabarnahi{
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    object-position: center;
}

th{
    text-align: left;
    text-decoration: solid;
    background-color: grey;
    color: white;
}



td{
    border: 3px solid black;
    border-color: black;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

th{
    padding: 15px;
    border: 3px solid black;
}

#rcorners1 {
    border-radius: 30px;
    padding: 20px;
    width: VW;
}